@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('/src/assets/waldemar-brandt-JF1AzM_QFeE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
